@import "minima/flexbox.scss";
@import "minima/event.scss";
@import "minima/project.scss";
@import "minima/post.scss";

.flex-break {
  flex-basis: 100%;
  height: 0;
}

footer.site-footer {
  padding: 15px 0 0 0;

  & .wrapper {
    & .footer-col-wrapper {
      & .footer-col {
        margin-bottom: 0;
      }
    }
  }
}